<p id="notice"><%= notice %></p>

<h1>Listing User Songs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_songs.each do |user_song| %>
      <tr>
        <td><%= user_song.song.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", songs_path %>
